# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

#### <b>Objectives</b>
- List popular languages for data science
- List commonly used libraries by data scientists
- Evaluate arithmetic expressions

##### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

##### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scikit-learn
3. Numpy

Data Science Tools
---
##### Apache Spark
---
##### TensorFlow
---
##### Tableau
---

### Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Dan Prumanov